body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  background-image: url("images/morning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.5rem;
  margin-right: 8px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  border: 1px solid #ccc;
  width: 130px;
  border-radius: 4px;
  overflow: hidden;
}

.select select {
  padding: 4px 8px;
  width: 130px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
}

option {
  color: #282828;
  cursor: pointer;
}

.select select:focus {
  outline: none;
}

.progress {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.progress-bar {
  width: 300px;
  height: 20px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 12px;
  border-radius: 4px;
}

#progress-value {
  font-weight: bold;
}

#completed {
  background-color: #fff;
  border: 1px solid #fff;
  width: 0%;
  height: 14px;
  margin: 2px;
}
